<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Upload files to our database</p>
    <br>
    <br>
    <div>
    	<form>
    		<input type="file" id="file-id" multiple="">
    		<button type="submit" id="btn-id">Upload</button>
    	</form>
    </div>
  </body>
</html>
