<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Give me any file, I can tell you its size, try!</p>
    <br>
    <br>
    <div>
    	<form action="/upload" method="POST" enctype="multipart/form-data">
    		<input type="file" id="file-id" name="anyfile" multiple="multiple" />
    		<input type="submit" name="btn-id" value="Upload" />
    	</form>
    </div>
  </body>
</html>
